* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 4px;
}

h1, h2, h3 {
	padding: 4px 0px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

nav {
	margin-bottom: 8px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40%;
	flex-wrap: wrap;
}

nav > div {
	padding: 0 8px;
}

.about-section {
	padding: 16px 4px;
}

.content-center {
	display: flex;
	justify-content: center;
}

.links > a {
	margin: 0px 8px;
}