@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

.light-theme {
	--foreground-color: black;
	--background-color: white;
	--active-color: #cbcbcb;
}

.dark-theme {
	--foreground-color: white;
	--background-color: black;
	--active-color: #1f1f1f;
}

body {
	color: var(--foreground-color);
	background-color: var(--background-color);
	font-family: "Inter", sans-serif;
	padding: 4px;
}

h1, h2, h3 {
	font-family: "Roboto", sans-serif;
	padding: 4px 0px;
}

a {
	text-decoration: none;
	color: var(--foreground-color);
}

ul, ol {
	list-style: none;
}

nav {
	margin-bottom: 8px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40%;
	flex-wrap: wrap;
}

nav > div {
	padding: 0 8px;
}

.section {
	padding: 16px 4px;
}

.content-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links > a {
	margin: 0px 8px;
}

.text-center {
	text-align: center;
}

.edu-card, 
.proj-card {
	padding-left: 12px;
	margin: 12px 0px;
	border: 2px dashed var(--foreground-color);
	border-radius: 12px;
}

.edu-card:hover, 
.proj-card:hover {
	background-color: var(--active-color);
}

.proj-card li div  {
	margin: 8px 0px;
}

.proj-card a {
	color: gray;
}

.proj-card a:hover {
	color: var(--foreground-color);
}

.m-2 {
	margin: 2px;
}

.m-8 {
	margin: 8px;
}